:root {
    --background-color: #F3F5FC;
    --cor-primaria: #0A3871;
    --cor-segundaria: #D8DFE8;
   

    --cor-fonte-primaria: #FFFFFF;
    --cor-fonte-secundaria: #343A40;
    --cor-fonte-terciaria: #495057;

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    text-rendering: optimizeLegibility;
    background-color: var(--background-color);
    padding: 3% 3% 1% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.app__container {
    display: flex;
    height: 100%;
    gap: 40px;
}

.input__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}

input,
textarea,
button {
    font-family: inherit;
}


header {
    margin: 0% 0% 0% 3%;
}

.logotipo {
    max-height: 48px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0% 0% 0% 18%;
    padding-bottom: 32px;
}

textarea {
    border: none;
    box-shadow: none;

    min-height: 30vh;
    height: 100%;
    width: 100%;
    max-width: 680px;
    resize: none;
    background: transparent;

    font-size: 3.2rem;
    line-height: 4.3rem;
    color: var(--cor-primaria);
}

textarea::placeholder {
    color: var(--cor-primaria);
}

.conteudo__info{
    width: 100%;
    max-width: 680px;
    margin-top: 32px;
}

.conteudo__info__aviso {
    margin: 8px 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

.conteudo__info__aviso img {
    height: 1.8rem;
}

.conteudo__info__aviso span {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--cor-fonte-terciaria);
}

.conteudo__botoes {
    display: flex;
    margin-right: 12px;
    margin-left: 12px;
    gap: 24px;
}

.cont {
    padding: 24px;
    border-radius: 24px;
    width: 100%;
    min-width: 168px;
    max-width: 328px;
    font-size: 1.6rem;
    transition: all .15s;
}

.cont.botoes__crip {
    background: var(--cor-primaria);
    border: none;
    color: var(--cor-fonte-primaria);
}

.cont.botoes__descrip {
    background: var(--cor-segundaria);
    border: 1px solid var(--cor-primaria);
    color: var(--cor-primaria);
}

.cont.botoes__copiar {
    background: var(--cor-fonte-primaria);
    border: 1px solid var(--cor-primaria);
    color: var(--cor-primaria);
}

@media (hover: hover) {
    .cont:hover{
        opacity: 0.7;
        transform: scale(1.009);
        cursor: pointer;
    }
}

.cont:active {
    transform: scale(1);
    transform: translateY(1.5px);
}

.resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 399px;
    max-width: 680px;
    width: 399px;
    height: 100%;
    padding: 32px;
    gap: 32px;
    background: var(--cor-fonte-primaria);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.msg-resultado {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.msg-resultado p {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    font-size: 2.4rem;
    line-height: 3.4rem;
}

.msg-resultado button {
    margin-top: 40px;
}

.msg-not-found,
.msg-copied {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.msg-not-found img{
    margin-bottom: 32px;
}

.msg-not-found h3 {
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: var(--cor-fonte-secundaria);
}

.msg-copied h3 {
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: var(--cor-primaria);
}

.msg-not-found p{
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--cor-fonte-terciaria);
    margin-top: 1.6rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer ul {
    display: flex;
    gap: 9px;
    list-style: none;
    font-size: 1.5rem;
    color: var(--cor-fonte-terciaria);
}

footer img {
    height: 15px;
}

footer a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 3px;
    transition: all 0.15ms;
}

footer a:hover {
    opacity: 0.7;
    transform: scale(1.009);
    cursor: pointer;
}

footer a:active {
    transform: scale(1);
    transform: translateY(1px);
}

footer a:link {
    color: var(--cor-fonte-terciaria);
}

footer a:visited {
    color: var(--cor-primaria);
}

@media (max-width: 1023px) {
    body {
        padding: 5% 5% 2% 5%;
    }
    :root {
        font-size: 54%;
    }

    .app__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .input__header {
        align-items: baseline;
    }

    header {
        margin: 12px 0 0 0;
    }

    .conteudo {
        margin: 0;
        padding-bottom: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    textarea::placeholder {
        content: "Digite seu texto"
    }

    .cont {
        padding: 21px;
        max-width: none;
    }

    .conteudo__botoes{
        margin-right: 9px;
        margin-left: 9px;
    }

    .resultado {
        min-width: 0px;
        width: 100%;
        padding: 24px;
    }

    .msg-not-found img {
        display: none;
    }
}

@media (max-width: 424px) {
    textarea {
        resize: horizontal;
    }

    .cont {
        min-width: none;
        max-width: none;
    }

    .conteudo__botoes {
        flex-direction: column;
        margin-bottom: 12px;
        margin-right: 0px;
        margin-left: 0px;
    }

    footer {
        padding-bottom: 3%;
    }
}